#auctionCarouselControls .carousel-control-next-icon,
#auctionCarouselControls .carousel-control-prev-icon {
    background-color: var(--bs-secondary);
    width:3rem;
    height:3rem;
    border-radius:0.5em;
    background-size:50% 50%;
}

#auctionCarouselControls .carousel-inner {
    border-radius: 0.5em;
}

#auctionCarouselControls img {
    width:100%;
    aspect-ratio:4/3;
    object-fit:cover;
}

#auctionBids li:first-child auction-bid .auction-bid .name::after {
    content: 'Hoogste bieder';
    display: inline-block;
    margin-left:0.5em;
    padding: 0.2em 1.5em;
    border-radius: 1px;
    background: var(--bs-light);
}